@import url("layout.css");
body {
	margin: 30px 0%;
	background-color: #fff;
	background-image:url('../images/back.gif');
	background-repeat:repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color:#000;
}
/* Styles for DIV tags */

#container {
    background-image: url("../images/marble.jpg");
    background-position: right top;
    margin: 0 auto;
    border-top: 4px solid #D4C357;
	border-right: 4px solid #D4C357;
	border-left: 4px solid #D4C357;
	border-bottom: 4px solid #D4C357;
	background-color: #fff;
}
/*#container {
	background-image:  url("images/header.jpg");
	background-repeat: no-repeat;
    margin: 0 auto;
	border-top: 4px solid #D4C357;
	border-right: 4px solid #D4C357;
	border-left: 4px solid #D4C357;
	border-bottom: 4px solid #D4C357;
	background-color: #fff;
}*/
#masthead {
	background-image:  url("../images/header.jpg");
	background-repeat: no-repeat;
	height: 120px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}
#new-masthead {
	background-image:  url("../images/cursive.png");
	background-repeat: no-repeat;
	height: 119px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	position: relative;
	z-index: 100;
}
#swiffycontainer{
	margin-top: -120px
}
#column_left {
	margin-left: 0;
	text-align:center;
}
#column_right {
    background-position: right top;
    background-image: url("../images/tophead.jpg");
    background-repeat: no-repeat;
	border-left: 0px solid #E3DFE2;
	border-bottom: 0;
	background-color: #F1F0DE;
	padding-top: 8px;
	padding-right: 10px;
	float: left;
	width: 600px;
	height:auto;
	margin: 0;
}

#footer {
	text-align: center;
	width: 800px;
	border-top: 1px solid #CCCCCC;
	margin:auto;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: both;
	font-size: 0.85em;
	background-color: #fff;
}
/* Masthead Styles */
#masthead h1 {
	color: #3d6c87;
}
#masthead h3 {
	color: #5f8ea9;
}
/* Navigation Tab Styles */
    #tabs4 {
      float:left;
      width:570px;
      font-size:93%;
      line-height:normal;
      border-bottom:1px solid #6B78A9;
      }
    #tabs4 ul {
          margin:0;
          padding:10px 10px 0 132px;
          list-style:none;
      }
    #tabs4 li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs4 a {
      float:left;
      background:url("tableft4.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 7px;
      text-decoration:none;
      }
    #tabs4 a span {
      float:left;
      display:block;
      background:url("tabright4.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#6B78A9;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs4 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs4 a:hover span {
      color:#6B78A9;
      }
    #tabs4 a:hover {
      background-position:0% -42px;
      }
    #tabs4 a:hover span {
      background-position:100% -42px;
      }

      #tabs4 #current a {
              background-position:0% -42px;
      }
      #tabs4 #current a span {
              background-position:100% -42px;
      }
/* Content Styles */
h6 {
	color: #B9A51D;
}
h5 {
	color: #B9A51D;
	font-size:13pt;
}
h4 {
	color: #B9A51D;
	font-size:14pt;
}
h3 {
	color: #B9A51D;
	font-size:16pt;
}
h2 {
	color: #B9A51D;
	font-size:18pt;
}
#content h1 {
	color: #B9A51D;
	font-size:20pt;
}
#content img {
	padding: 5px;
	border: 1px solid #808080;
}
/* Footer Styles */
/* Styles for Footer */
#footer p {
	margin: 0;
}
#copyright {
	text-align: center;
}
#copyright p {
	font-size: 0.85em;
	text-align: center;
}
#footer a {
	color: #3F58BC;
}
#footer a:hover {
	color: #00008B;
	text-decoration: none;
}a {
	color: #3F58BC;
	text-decoration: underline;
}
a:hover {
	color: #33627d;
	text-decoration: underline;
}
.image {
        border-width: 0px;
}
.image_border {
        border: 1px solid gray;
        background-color: #fff;
        padding: 4px;
}

.centered {
        text-align: center;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}